*{
padding: 0px;
margin: 0px;    
}
#game {
   height: 700px;
   width: 450px;
   border: solid 1px black;
   margin: auto;
   overflow: hidden;
   box-sizing: border-box;
   background-color: yellow;

}
#block{
    height: 150px;
    width: 150px;
    background-color: blue;
    position: relative;
    animation: block 2s infinite linear ;
    right: 0px;
}
#character{
    width :150px;
    height: 150px;
    background-color: black;
    position: relative;
    top: 550px;
    left: 150px;
}
@keyframes block {
    0%{bottom:800px}
        100%{bottom:-700px}
    }
